.about-container {
    @include flexCenter(column);
    margin: 3rem;
    p {
        font-size: $smFontSize;
        border: 1px solid;
        padding: 3rem;
        a {
            color: blue;
        }
    }
}
