@import "mixins", "variables";

.dashboard-container {
    @include flexCenter(column);

    .stream-key {
        padding: 0.5rem;
        font-size: $mdFontSize;
        background-color: black;
        &:hover {
            background-color: transparent;
        }
    }

    .dashboard-p-label {
        font-size: $smFontSize;
        margin: 1rem;
    }
}

.static-video-container {
    @include flexCenter(column);
    padding: 1rem;
    font-size: $smFontSize;
    border: 1px solid;
    a {
        margin: 1rem;
        color: blue;
    }
    p {
    }
}

.static-videos {
    @include flexCenter(row);
}
