.dashboard-container {
    @include flexCenter(column);

    .stream-key {
        padding: 0.5rem;
        font-size: $mdFontSize;
    }

    .dashboard-p-label {
        font-size: $smFontSize;
        margin: 0.5rem;
    }
}

.static-videos-container {
    @include flexCenter(column);
    padding: 1rem;
    font-size: $smFontSize;
    border: 1px solid;
    margin-top: 5rem;
    a {
        margin: 1rem;
        color: blue;
    }
}

.static-videos {
    @include flexCenter(row);
    padding: 1rem;
    margin: 1rem;
}
