form {
    @include flexCenter(column);
    padding: 0.5rem;
    input {
        font-size: $smFontSize;
        margin: 0.5rem;
    }
    label {
        font-size: $smFontSize;
    }

    .login-btn {
        padding: 0.1rem 1rem;
    }
}

.signup-here {
    @include flexCenter(column);
    font-size: 1.1rem;
    a {
        color: blue;
    }
}
