@import "mixins";

form {
    @include flexCenter(column);
    padding: 0.5rem;
    input {
        font-size: $smFontSize;
        margin: 0.5rem;
    }
    label {
        font-size: $smFontSize;
    }
    .register-btn {
        padding: 0.1rem 1rem;
    }
}
