@import "variables", "mixins";
@import "requirements", "login", "register", "dashboard", "about", "streams";

body {
    background: $globalBackgroundColor;
    min-height: 100vh;
}

h1 {
    @include flexCenter(row);
}

nav {
    @include flexCenter(row);
    padding: 0.5rem;
    background-color: $navBackColor;
    a {
        color: black;
        padding: 0 1rem;
        text-decoration: none;
        font-size: $mdFontSize;
    }
    a:hover {
        text-decoration: underline;
    }
}

.flash-msg {
    @include flexCenter(row);
    font-size: $smFontSize;
}

#vid {
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
}

// flash msgs acquired from: https://codepen.io/palimadra/pen/OVvbaY
.info,
.success,
.error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529b;
    background-color: #bde5f8;
}
.success {
    color: #4f8a10;
    background-color: #dff2bf;
}
.error {
    color: #d8000c;
    background-color: #ffbaba;
}

footer {
    margin-top: 15rem;
    background-color: $navBackColor;
    height: 15rem;
    @include flexCenter(row);
    div {
        // vertical-align: bottom;
        @include flexCenter(column);
        a,
        p {
            font-size: $smFontSize;
        }
        a {
            color: blue;
        }
    }
}
