{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flash-msg">{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>{{username}}'s Dashboard</h1>
<div class="dashboard-container">
    <p class="dashboard-p-label">Hover below to view your Stream-Key:</p>
    <p class="stream-key">{{streamkey}}</p>
    <p class="dashboard-p-label">To use, go to your OBS and paste your Stream-Key.</p>
    <p class="dashboard-p-label">Enter this server URL into the textbox:</p>
</div>
{% endblock %}