<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>CNT-4713 Project Website</h1>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/requirements">Requirements</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="/register">Register</a>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="flash-msg">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
<footer>
    <div>
        <p>Developed by Adrian Gonzalez</p>
        <a href="https://github.com/AdrianGonz97/CNT-4713-Final-Project">Click here to view the project on GitHub</a>
    </div>
</footer>
</html>