{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome!</h1>
<div class="welcome-container">
    <div class="welcome-box">
        <p class="welcome-message">
            If this is your first time here, head over to the <a href="/register">Registration</a> page to register an account!
        </p>
        <p class="welcome-message">Once you're registered, you will be redirected to the <a href="/login">Login</a> page. From there, you will enter your credentials
             for the account you just registered and you'll be redirected to your <a href="/dashboard">Dashboard</a>.
        </p>
        <p class="welcome-message">
            In your Dashboard, you will be given instructions on how to stream to the site! Feel free to follow them to get started.
        </p>
        <p class="welcome-message">
            You may also visit the <a href="/streams">Live Streams</a> page to view registered users streams. 
            If they are online, the stream will begin immediately.
        </p>
        <p class="welcome-message">
            You may also visit the <a href="/videos">Video Library</a> page to view our static videos feed. 
            Our video library contains a small collection of Koala videos.
        </p>
        <p class="welcome-message">
            Enjoy the site!
        </p>
    </div>
</div>
{% endblock %}