{% extends "base.html" %}
{% block title %}Streams{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flash-msg">{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>Live Stream Endpoints</h1>
<p class="page-instructions">Click on any of the links below to route to a User's live stream page!</p>
<div class="streams-container">
    {% for user in users %}
    <a class="user-stream-link" href="{{'/user/' + user.username}}">
        Visit <span class="user-stream-name">{{user.username}}</span>'s Live Stream!
    </a>
    {% endfor %}
</div>
{% endblock %}