{% extends "base.html" %}
{% block title %}{{username}}'s Stream{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flash-msg">{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>{{username}}'s Live Video Stream</h1>
<video height="720" width="1280" controls>
    <source src="{{ url_for('static', filename='videos/Australia - Cute Koala Bear eating Eucalyptus - Cooberrie Wildlife Park 2013 - Back Pack Australia.mp4') }}" type="video/mp4">
    Your browser does not support HTML video.
</video>
{% endblock %}