@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

header {
    @include flexCenter(column);
    background: lightblue;
    height: 20vh;
    color: $textColor;
    gap: 1rem;
    button {
        background: $primaryBtn;
        cursor: pointer;
        &:hover {
            background: red;
        }
        &::after {
            content: " After";
        }
        &::before {
            content: "Before ";
        }
    }
}
