@import "variables", "mixins";
@import "requirements", "login", "register", "dashboard";

body {
    background: $globalBackgroundColor;
    min-height: 100vh;
}

h1 {
    @include flexCenter(row);
}

nav {
    padding: 0.5rem;
    background-color: $navBackColor;
    a {
        color: black;
        padding: 0 1rem;
        text-decoration: none;
        font-size: $mdFontSize;
    }
    a:hover {
        text-decoration: underline;
    }
}

.flash-msg {
    @include flexCenter(row);
}

footer {
    margin-top: 15rem;
    background-color: $navBackColor;
    height: 15rem;
    @include flexCenter(row);
    div {
        // vertical-align: bottom;
        @include flexCenter(column);
        a,
        p {
            font-size: $smFontSize;
        }
        a {
            color: blue;
        }
    }
}
